.card-signin {
    position: absolute;
    top: 20%;
    width: 100% !important;
    padding: 0 20px;
    .logo {
        text-align: center;
        img {
            width: 100%;
        }
    }
    // ion-label {
    //     margin-bottom: 10px;
    // }
    // ion-input {
    //     border: 1px solid #d5e8f6;
    //     background: #f6fafd;
    //     border-radius: 5px;
    //     margin-bottom: 10px;
    // }
    .btn-signin {
        margin-top: 20px;
        --background: #FF4316 !important;
        --border-color: #FF4316 !important;
    }
    .card-signin-content {
        padding: 0;
    }
}