<ion-header>
  <ion-toolbar color="theme">
    <ion-title>รายละเอียดเรื่องร้องเรียน</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h3>สถานะ.</h3>
    <div class="card-status">
      <ion-row>
        <ion-col size="2">
          <div class="logo">
            <ion-icon name="checkmark-circle-sharp"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="10">
          <div class="content">
              <p>แจ้งเรื่อง</p>
              <small>วันที่ : 30/11/2021</small>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-status">
      <ion-row>
        <ion-col size="2">
          <div class="logo">
            <ion-icon name="checkmark-circle-sharp"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="10">
          <div class="content">
              <p>เรื่องร้องเรียน/ร้องทุกข์อยู่ระหว่างดำเนินการ</p>
              <small>วันที่ : 1/12/2021</small>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <h3>รายละเอียด.</h3>
    <div class="card-detail">
      <p>Ticket ID : 02122021</p>
      <p>บุคคล/หน่วยงาน/สถานที่ที่ต้องการร้องเรียน</p>
      <p>เลขที่ หมู่บ้าน ซอย ถนน ตำบลบางโพงพาง อำเภอเขตยานนาวา จังหวัดกรุงเทพมหานคร</p>
    </div>
  </div>
</ion-content>
