<ion-header [translucent]="true">
  <ion-toolbar color="theme">
    <ion-title>ประเภทเรื่องร้องเรียน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p routerLink="/form">1.แจ้งเรื่องร้องเรียนเกี่ยวกับการทุจริตของเจ้าหน้าที่กระทรวงพลังงาน (เช่น ดูหมิ่น ทำร้ายร่างกาย ข่มขู่ประชาชน ติดอบายมุข มีพฤติกรรมชู้สาว ฯลฯ)</p>
    <p routerLink="/form">2.แจ้งเรื่องร้องเรียนเกี่ยวกับพฤติกรรมที่ไม่เหมาะสมของเจ้าหน้าที่กระทรวงพลังงาน (เช่น ดูหมิ่น ทำร้ายร่างกาย ข่มขู่ประชาชน ติดอบายมุข มีพฤติกรรมชู้สาว ฯลฯ)</p>
    <p routerLink="/form">3.แจ้งเรื่องร้องเรียนที่ท่านได้รับความเดือดร้อนจากการที่มีผู้ทำลายหรือสร้างความเสียหาย ซึ่งอยู่ในความรับผิดชอบของกระทรวงพลังงาน</p>
    <p routerLink="/form">4.แจ้งเรื่องร้องเรียนที่ท่านได้รับผลกระทบจากการดำเนินการของหน่วยงานในสังกัดกระทรวงพลังงานดำเนินการ</p>
    <p routerLink="/form">5.แจ้งเบาะแสกรณีพบเห็นว่ามีผู้ทำลาย ทำให้เกิดความเสียหาย</p>
    <p routerLink="/form">6. แจ้งเรื่องร้องเรียน ประเด็นอื่น ๆ</p>
    <p routerLink="/form">7.ข้อเสนอแนะการดำเนินงานเพื่อให้หน่วยงานในสังกัดกระทรวงพลังงานนำไปพิจารณาปฏิบัติ</p>
  </div>
</ion-content>
