.container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;

    .btn-form {
        display: inline-flex;
        width: 100%;
        padding: 15px 10px;
        background: #383E56;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 5px solid #282d3e;
        vertical-align: middle;
        color: #fff;
        margin-bottom: 10px;
        ion-icon {
            font-size: 30px;    
            padding-right: 20px;

            &:before {
                content: "";
                width: 10px;
                height: 100%;
                position: absolute;
                right: 0;
                border-left: 1px dashed #eee;
            }
        }
    }
}