<ion-header [translucent]="true">
  <ion-toolbar color="theme">
    <ion-title>แจ้งเรื่องร้องเรียน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="todo" (ngSubmit)="form()">
    <ion-row>
      <ion-col size="12">
        <ion-label>เลขประจำตัวประชาชน <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="id_card"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>คำนำหน้า <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="name_title">
          <ion-select-option *ngFor="let data of nameTitle" value="{{data.id}}">{{data.title}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>ชื่อ <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>นามสกุล <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>อายุ</ion-label>
        <ion-input type="text" inputmode="numeric" maxlength="2" formControlName="age"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>โทรศัพท์บ้าน</ion-label>
        <ion-input type="text" inputmode="numeric" maxlength="10" formControlName="tel"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>โทรศัพท์มือถือ <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" inputmode="numeric" maxlength="10" formControlName="phone"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>e-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>บ้านเลขที่</ion-label>
        <ion-input type="text" formControlName="address_no"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>หมู่ที่</ion-label>
        <ion-input type="text" formControlName="moo"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ชื่อหมู่บ้าน</ion-label>
        <ion-input type="text" formControlName="housename"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ซอย</ion-label>
        <ion-input type="text" formControlName="soi"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ถนน</ion-label>
        <ion-input type="text" formControlName="road"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>จังหวัด <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="provinces" (ionChange)="getAmphures($event)">
          <ion-select-option *ngFor="let data of listsProvinces" value="{{data.PROVINCE_ID}}">{{data.PROVINCE_NAME}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>อำเภอ/เขต <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="amphures" (ionChange)="getTambons($event)">
          <ion-select-option *ngFor="let data of listsAmphures" value="{{data.AMPHUR_ID}}">{{data.AMPHUR_NAME}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>ตำบล/แขวง <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="districts">
          <ion-select-option *ngFor="let data of listsTombons" value="{{data.TAMBON_ID}}">{{data.TAMBON_NAME}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>รหัสไปรษณีย์</ion-label>
        <ion-input type="text" inputmode="numeric" maxlength="5" formControlName="zipcode"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>รายละเอียดเรื่องร้องเรียน</ion-label>
        <ion-select formControlName="name_topic">
          <ion-select-option value="1">บุคคล</ion-select-option>
          <ion-select-option value="2">กลุ่ม/คณะบุคคล</ion-select-option>
          <ion-select-option value="3">หน่วยงาน</ion-select-option>
          <ion-select-option value="4">บริษัท/ห้างร้าน</ion-select-option>
          <ion-select-option value="5">อื่น ๆ</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>ชื่อบุคคลหรือหน่วยงาน</ion-label>
        <ion-input type="text" formControlName="note_topic"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>อ้างอิงเลขหนังสือ</ion-label>
        <ion-input type="text" formControlName="number_topic"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ประเด็นที่ท่านต้องการร้องเรียน/แจ้งข้อเสนอแนะ</ion-label>
        <ion-textarea type="text" formControlName="complain_name"></ion-textarea>
      </ion-col>
      <ion-col size="12">
        <ion-label>เลขที่</ion-label>
        <ion-input type="text" formControlName="t_address_no"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>หมู่ที่</ion-label>
        <ion-input type="text" formControlName="t_moo"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ชื่อหมู่บ้าน</ion-label>
        <ion-input type="text" formControlName="t_housename"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ซอย</ion-label>
        <ion-input type="text" formControlName="t_soi"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ถนน</ion-label>
        <ion-input type="text" formControlName="t_road"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>จังหวัด <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="t_provinces" (ionChange)="getAmphuresTwo($event)">
          <ion-select-option *ngFor="let data of listsProvinces" value="{{data.PROVINCE_ID}}">{{data.PROVINCE_NAME}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>อำเภอ/เขต <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="t_amphures" (ionChange)="getTambonsTwo($event)">
          <ion-select-option *ngFor="let data of listsAmphuresTwo" value="{{data.AMPHUR_ID}}">{{data.AMPHUR_NAME}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>ตำบล/แขวง <ion-text color="danger">*</ion-text></ion-label>
        <ion-select formControlName="t_districts">
          <ion-select-option *ngFor="let data of listsTombonsTwo" value="{{data.TAMBON_ID}}">{{data.TAMBON_NAME}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>รหัสไปรษณีย์</ion-label>
        <ion-input type="text" inputmode="numeric" maxlength="5" formControlName="t_zipcode"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>จุดสังเกตหรือสถานที่ใกล้เคียงที่สำคัญ (โปรดระบุ หากท่านทราบข้อมูล)</ion-label>
        <ion-textarea type="text" formControlName="place_landmarks"></ion-textarea>
      </ion-col>
      <ion-col size="12">
        <ion-label>สิ่งที่ต้องการให้กระทรวงพลังงานดำเนินการ</ion-label>
        <ion-textarea type="text" formControlName="response_person"></ion-textarea>
      </ion-col>
      <ion-col size="12">
        <div class="upload-images" (click)="presentActionSheet()">
          <ion-icon name="camera-outline"></ion-icon>
          <p>อัพโหลดรูปภาพ</p>
        </div>
      </ion-col>
      <ion-col size="4" *ngFor="let imagesarray of imagesarray">
        <img class="preview-images" [src]="imagesarray" alt="">
      </ion-col>
      <ion-col size="12">
        <ion-text color="danger">
          <span>กรุณากรอกข้อมูลให้ครบถ้วนจึงจะสามารถส่งเรื่องได้</span>
        </ion-text>
        <ion-button color="theme" expand="block" type="submit" [disabled]="!todo.valid">ส่งเรื่อง</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>
