ion-input,ion-select,ion-textarea {
    border: 1px solid #d5e8f6;
    background: #f6fafd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.upload-images {
    display: block;
    background-color: #eee;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    ion-icon {
        font-size: 30px;
        color: #333;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        color: #333;
    }
}
.preview-images {
    width: 100%;
}