<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="theme">
        <ion-title>เมนู</ion-title>
      </ion-toolbar>
    </ion-header> 
    <ion-content color="darktheme">
      <ion-list>
        <ion-item lines="full" color="darktheme" href="home"><ion-icon name="home-sharp"></ion-icon> หน้าหลัก</ion-item>
        <ion-item lines="full" color="darktheme" href="agreement"><ion-icon name="reader-sharp"></ion-icon> แจ้งเรื่องร้องเรียน</ion-item>
        <ion-item lines="full" color="darktheme" href="ticket"><ion-icon name="ticket-sharp"></ion-icon> ติดตามเรื่องร้องเรียน</ion-item>
        <ion-item lines="full" color="darktheme" href="signin"><ion-icon name="log-out-sharp"></ion-icon> ออกจากระบบ</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>