<ion-header [translucent]="true">
  <ion-toolbar color="theme">
    <ion-title>หน้าหลัก</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.jpg" alt="" style="width:100%;">
    </div>
    <!-- <div class="content">
        <p>ช่องทางที่ท่านสามารถแจ้งเรื่องร้องเรียนต่อศูนย์รับเรื่องร้องเรียนกระทรวงพลังงาน (กองตรวจราชการ) มีดังนี้</p>
        <ul>
          <li>เว็บไซต์</li>
          <li>จดหมายอิเล็กทรอนิกส์ (E-Mail) :</li>
          <li>ส่งหนังสือร้องเรียนมาที่สำนักงานปลัดกระทรวงพลังงาน อาคาร บี ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ 555/2 ถนนวิภาวดีรังสิต แขวงจตุจักร เขตจตุจักร กรุงเทพฯ จตุจักร จตุจักร กรุงเทพมหานคร 10900</li>
          <li>ข้อมูลการติดต่อ : โทรศัพท์ 0-2140-6000 โทรสาร 02-140-6228</li>
        </ul>
    </div> -->
    <div class="btn-form" routerLink="/agreement"><ion-icon name="reader-sharp"></ion-icon> แจ้งเรื่องร้องเรียน</div>
    <div class="btn-ticket" routerLink="/ticket"><ion-icon name="ticket-sharp"></ion-icon> ติดตามเรื่องร้องเรียน</div>
    <div class="content">
      <p style="font-size: 20px;">ช่องทางที่ท่านสามารถแจ้งเรื่องร้องเรียนต่อศูนย์รับเรื่องร้องเรียนกระทรวงพลังงาน (กองตรวจราชการ) มีดังนี้</p>
      <ul>
        <li style="font-size: 18px;">เว็บไซต์: https://e-petition.energy.go.th/</li>
        <li style="font-size: 18px;">จดหมายอิเล็กทรอนิกส์ (E-Mail) : servicelink@energy.go.th</li>
        <li style="font-size: 18px;">ส่งหนังสือร้องเรียนมาที่ศูนย์รับเรื่องร้องเรียนกระทรวงพลังงาน (กองตรวจราชการ)</li>
        <li style="font-size: 18px;">ที่อยู่ : 555/2 ศูนย์เอนเนอร์ยี่คอมเพล็กซ์ อาคารบี ชั้น 23 ถนนวิภาวดีรังสิต แขวงจตุจักร เขตจตุจักร กรุงเทพมหานคร 10900</li>
        <li style="font-size: 18px;">ข้อมูลการติดต่อ : โทรศัพท์ 0 2140 6080</li>
      </ul>
  </div>
  </div>
  
</ion-content>

