.container {
    padding-left: 15px;
    padding-right: 15px;
    .logo {
        img {
            width: 100%;
        }
    }
    .content {
        // background: #383E56;
        margin-bottom: 20px;
        // padding: 10px 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p {
            // color: #fff;
            color: #28a745;
            font-size: .9rem;
            // letter-spacing: 1.1px;
            font-weight: bold;
        }
        ul {
           list-style-type: none;
           padding: 0;
           margin: 0;

           li {
               font-size: .8rem;
               margin-bottom: 10px;
            //    color: #fff;
           }
        }
    }
    .btn-form {
        display: inline-flex;
        width: 100%;
        padding: 15px 10px;
        // background: #F69E7B;
        background: #0a58b8;
        border-radius: 7px;
        font-size: 20px;
        vertical-align: middle;
        color: #fff;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        // border: 4px solid #f38458;
        ion-icon {
            font-size: 30px;    
            padding-right: 20px;

            &:before {
                content: "";
                width: 10px;
                height: 100%;
                position: absolute;
                right: 0;
                border-left: 1px dashed #fff;
            }
        }
    }
    .btn-ticket {
        display: inline-flex;
        width: 100%;
        padding: 15px 10px;
        // background: #383E56;
        background: #FFB740;
        border-radius: 7px;
        font-size: 20px;
        vertical-align: middle;
        color: #fff;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        // border: 4px solid #282d3e;
        ion-icon {
            font-size: 30px;    
            padding-right: 20px;

            &:before {
                content: "";
                width: 10px;
                height: 100%;
                position: absolute;
                right: 0;
                border-left: 1px dashed #fff;
            }
        }
    }
}