<ion-header [translucent]="true">
  <ion-toolbar color="theme">
    <ion-title>ติดตามเรื่องร้องเรียน</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="todo" (ngSubmit)="form()">
    <ion-input placeholder="กรอก Ticket ID สำหรับค้นหา" type="text" formControlName="ticket"></ion-input>
    <ion-button expand="block" type="submit" color="theme" [disabled]="!todo.valid">ค้นหา</ion-button>
    </form>
  </div>
</ion-content>
